<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1 class="text-6xl"><%= title %></h1>
    <p class="text-orange-700">Welcome to <%= title %></p>
  </body>
</html>
